.column {
  background: white;
  width: 300px;
  min-height: 400px;
  border-radius: 8px;
  padding: 20px;
}

.task-card {
  background: #e5e7eb;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
}

.task-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.task-buttons button {
  padding: 5px 10px;
  cursor: pointer;
  background: #8ea8d3;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 0.6rem;
}

.task-buttons button:hover {
  background: #6b82a8;
}

.task-actions {
  display: flex;
  gap: 5px;
}

.task-icons {
  display: flex;
  gap: 5px;
}